.greetings{
	text-align: center;
	font-size: 200%;
}

footer{
	position: fixed;
	bottom: 0;
	background: grey;
	height: 50px;
	border: solid black;
	width: 100%;
	margin-left: 0px;
	padding: 5px;
}

#about{
	font-size: 125%;
}

#experience button{
	display: inline;
}

.show{
	background-color: grey;
	border: solid black 2px;
	padding: 3px;
}

table{
	table-layout: fixed;
	width: 100%;
}

th,td{
	width: 33%;
}
